<div class="project-card">
  {{#link-to 'project' project}}
    <div class="card-square-image">
      {{#if project.projectUploads}}
        <img src="{{project.projectUploads.firstObject.photoUrl}}" alt="{{project.name}}" class="project-card-photo">
      {{else}}
        <i class="fa fa-picture-o card-missing-image" aria-hidden="true"></i>
      {{/if}}
    </div>
  {{/link-to}}

  <div class="card-caption">
    <p>
      {{#link-to 'project' project}}
        {{project.name}} 
      {{/link-to}}
      by {{project.user.username}}
    </p>
  </div>
</div>





