<p>Quilt Size: {{pattern.quiltSize}}</p>
<p>Colors: {{pattern.colors}}</p>
<p>Block Size: {{pattern.blockSize}}</p>

<p>{{#link-to 'pattern' pattern}}SVG: {{pattern.svg}}{{/link-to}}</p>

{{favorite-button}} {{make-button}}
