<p>Project name: {{model.name}}</p>
<p>Date started: {{formatDate model.startDate}}</p>
<p>Date finished: {{model.finishedDate}}</p>
<p>Finished? {{model.finished}}</p>
<p>Notes: {{model.notes}}</p>

<p>Pattern: {{model.pattern.id}}</p>

<p>Made by: {{model.user.username}}</p>
