<p>Project name: {{model.name}}</p>
<p>Date started: {{formatDate model.startDate}}</p>
<p>Date finished: {{model.finishedDate}}</p>
<p>Finished? {{model.finished}}</p>
<p>Notes: {{model.notes}}</p>

{{project-upload project=model uploadPhoto='uploadPhoto'}}

<p>Pattern: {{model.pattern.id}}</p>
{{pattern-card pattern=model.pattern}}

<p>Made by: {{model.user.username}}</p>
