<div class="col-md-9">
  <h2>
    {{model.name}} 
    <small>
      made by {{model.user.username}}
      {{#if (currentUser model.user.id)}}
        {{project-delete-button project=model deleteProject='deleteProject'}}
        {{project-edit-button project=model editProject='editProject'}}
      {{/if}}
    </small>
  </h2>

  {{#if model.notes}}
    <div class="meta project-notes">
      <h3>Notes</h3>
      <span class="whitespace-prewrap">{{model.notes}}</span>
    </div>
  {{/if}}



  {{#if (currentUser model.user.id)}}
    {{project-upload-form project=model uploadPhoto='uploadPhoto'}}
  {{/if}}

  <div class="row">
    {{#each model.projectUploads as |photo|}}
      {{project-photo photo=photo project=model removePhoto='removePhoto' class="col-md-4"}}
    {{/each}}
  </div>

</div>


<div class="col-md-3">
  <div class="meta project-meta">
    <p>Project status: {{#if model.finished}}Finished{{else}}In progress{{/if}}</p>
    {{#if model.startDate}}
      <p>Started: {{formatDate model.startDate}}</p>
    {{/if}}
    {{#if model.finishDate}}
      <p>Finished: {{formatDate model.finishDate}}</p>
    {{/if}}
  </div>
  <h2>Original Pattern</h2>
  {{pattern-card pattern=model.pattern}}
</div>




