<h2>Single pattern!</h2>

{{pattern-metadata pattern=model}}
{{favorite-button pattern=model clickme='clickme'}} 
{{make-button}}

{{#each model.projects as |project|}}
  {{project-card project=project}}
{{/each}}

<h3>Pattern Image</h3>
<p>Pattern Image: {{model.svg}}</p>

