<h2>Single pattern!</h2>

<div class="col-md-6">

  {{pattern-metadata pattern=model}}

  <p>Current user favorite: {{model.currentUserFavorite}}</p>

  {{favorite-button pattern=model favorite=model.currentUserFavorite}} 
  {{make-button pattern=model}}

  {{pattern-canvas pattern=model}}

</div>

<div class="col-md-6">
  <h2>Projects based on this pattern</h2>
  <div class="row">
    {{#each model.projects as |project|}}
      {{project-card project=project class="col-xs-12 col-sm-6"}}
    {{/each}}
  </div>

</div>





