<h2>Single pattern!</h2>

{{pattern-metadata pattern=model}}

<p>Current user favorite: {{model.currentUserFavorite}}</p>

{{favorite-button pattern=model favorite=model.currentUserFavorite}} 
{{make-button pattern=model}}

{{#each model.projects as |project|}}
  {{project-card project=project}}
{{/each}}

{{pattern-canvas pattern=model}}

