<div class="col-md-6 single-pattern">

  <div class="meta">
    {{pattern-metadata pattern=model}}

    {{favorite-button pattern=model favorite=model.currentUserFavorite}} 
    {{make-button pattern=model}}
  </div>

  <div class="pattern-svg">
    {{{model.svg}}}
  </div>

</div>

<div class="col-md-6">
  <h1>Projects based on this pattern</h1>
  <div class="row">
    {{#each model.projects as |project|}}
      {{project-card project=project class="col-xs-12 col-sm-6"}}
    {{/each}}
  </div>

</div>





