<h2>Single pattern!</h2>

{{pattern-metadata pattern=model}}

<p>Current favorite: {{model.currentFavorite}}</p>
{{favorite-button pattern=model toggleFavorite='toggleFavorite'}} 
{{make-button}}

{{#each model.projects as |project|}}
  {{project-card project=project}}
{{/each}}

<h3>Pattern Image</h3>
<p>Pattern Image: {{model.svg}}</p>

<h3>Pattern Canvas</h3>
{{pattern-canvas pattern=model}}

