{{email-input email=credentials.email}}
{{username-input username=credentials.username}}
{{password-input password=credentials.password}}
{{password-confirmation-input password=credentials.passwordConfirmation}}

<button type="submit" {{action "submit"}}>
  Sign Up
</button>

<button {{action "reset"}}>
  Cancel
</button>
