<p>Quilt Size: {{pattern.quiltSize}}</p>
<p>Colors: {{pattern.colors}}</p>
<p>Block Size: {{pattern.blockSize}}</p>
<p>Favorite of current user?: {{pattern.isFavorite}}</p>
<p>pattern id: {{pattern.id}}</p>

<p>Users:</p>
{{#each pattern.usersWhoFavorited as |userWhoFavorited|}}
<p>{{userWhoFavorited}}</p>
{{/each}}