<form {{action 'saveProject' on='submit'}}>
  <div class="form-group">
    <label for="name">Project Name*</label>
    {{input type=text id="name" value=project.name}}
  </div>

  <div class="form-group">
    <label for="startDate">Date Started</label>
    <input type="date" id="startDate" value={{formatDateForForms project.startDate}}>
  </div>
  
  <div class="form-group">
    <label for="finishDate">Date Completed</label>
    <input type="date" id="finishDate" value={{formatDateForForms project.finishDate}}>
  </div>

  <div class="form-group">
    <label for="finished">Project Status</label>
    <select id="finished">
      {{#if project.finished}}
        <option value="false">In progress</option>
        <option value="true" selected>Completed</option>
      {{else}}
        <option value="false" selected>In progress</option>
        <option value="true">Completed</option>
      {{/if}}
    </select>
  </div>

  <label for="notes">Project Notes</label>
  {{textarea value=project.notes cols="80" rows="6"}}

  <input class="btn btn-default" type="submit" id="submit" value="Submit">
</form>